{% extends "layout.html" %}
{% block head %}
<title>Add Video</title>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename = 'add_item.js') }}"></script>
{% endblock %}
{% block videos %}
var videos = {{videos|tojson}};
{% endblock %}
{% block css %}
label{
  color: white;
}
{% endblock %}
{% block heading %}
<h1> Import Video </h1>
{% endblock %}
{% block content %}

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Video Name</label>
      <input type="text" class="form-control autovideos" id="name" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
      <label for="headquarters">Video URL</label>
      <input type="text" class="form-control" id="url" placeholder="https://www.youtube.com/watch?v=<videoId>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="headquarters">Artist</label>
      <input type="text" class="form-control" id="artist" placeholder="Artist">
    </div>
    <div class="form-group col-md-6">
      <label for="headquarters">Tuning (Optional)</label>
      <input type="text" class="form-control" id="tuning" placeholder="EADGBE">
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-primary mr-5" id="submit">Import</button>
    <a id="record_link"></a>
  </div>
</form>

{% endblock %}
