{% extends "layout.html" %}
{% block head %}
<title>Learn Guitar Songs</title>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
{% endblock %}
{% block css %}
/*
* Globals
*/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
* Base structure
*/

html,
body {
  height: 100%;
  background-image: url("/static/images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  /*height: 600px;*/
  /*
  */
  height: 92%;
  /*min-height: 100%;*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
/*
* Cover
*/

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
* Affix and center
*/

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}
.navbar {
  background: none;
}
{% endblock %}
{% block cover %}
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="container">

      <div class="masthead clearfix">
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Master Guitar Songs.</h1>
        <p class="lead">Create loops from any YouTube guitar video</p>

        <a href="/search" class="btn btn-lg btn-default">Explore</a>
        <a href="/add_item" class="btn btn-lg btn-default">Import</a>

      </div>

    </div>

  </div>

</div>
{% endblock %}
{% block heading %}

<!-- <div class="jumbotron d-flex align-self-center align-items-center">
<div class="container text-center">
<h1 class="cover-heading"> Learn Guitar Songs </h1>
<br>
<div class="nav nav-justified navbar-nav">
<form class="navbar-form navbar-search" role="search">
<div class="input-group">
<input type="text" class="form-control" id="lookup">
<div class="input-group-btn">
<button type="button" class="btn btn-search btn-primary" id="submit">
<span class="glyphicon glyphicon-search"></span>
<span class="label-icon">Search</span>
</button>
</div>
</div>
</form>
</div>
</div>
</div> -->

{% endblock %}
{% block content %}
{% endblock %}
