<!-- Tsun Ting (James) Wong - tw2686
COMS 4170: User Interface Design
Homework 12 -->

<!-- <!DOCTYPE html> -->
<html>
<head>
  {% block head %}{% endblock %}

  <!-- JQuery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

  {% block script %}{% endblock %}

  <!-- bootstrap same as before -->
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- jQuery Code -->
  <script>
    {% block videos %}{% endblock %}
  </script>

  <!-- CSS -->
  <style>
    #logo{
      width: 50;
      transform: rotate(90deg);
    }
    body{
      background-color: #333;
    }
    h1, h2 {
      color: white;
    }
    {% block css %}{% endblock %}
  </style>

</head>

<!-- Body -->
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">

      <img src="{{url_for('static', filename='images/logo.png')}}" id="logo" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div id="navbarNavAltMarkup">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-item nav-link" href="/">Home</a></li>
          <li><a class="nav-item nav-link" href="/search">Explore</a></li>
          <li><a class="nav-item nav-link" href="/practice">Practice</a></li>
          <li><a class="nav-item nav-link" href="/add_item">Import Video</a></li>
          <li><a class="nav-item nav-link" href="/progress">Progress</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">Logo</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav navbar-right">
<li><a href="#home">HOME</a></li>
<li><a href="#band">BAND</a></li>
<li><a href="#tour">TOUR</a></li>
<li><a href="#contact">CONTACT</a></li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
<li><a href="#">Merchandise</a></li>
<li><a href="#">Extras</a></li>
<li><a href="#">Media</a></li>
</ul>
</li>
<li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
</ul>
</div>
</div>
</nav> -->


{% block cover %}{% endblock %}
<div class="container" id="layoutcontainer">
  <br>
  {% block heading %}{% endblock %}
  {% block content %}

  {% endblock %}
</div>
{% block script2 %}{% endblock %}
</body>
</html>
