{% extends "layout.html" %}
{% block head %}
<title>Practice</title>
{% endblock %}
{% block script %}
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
{% endblock %}
{% block videos %}
var videos = {{videos|tojson}};
var video = {{video|tojson}};
var vid_loops = {{vid_loops|tojson}};
{% endblock %}
{% block css %}
.ranges{
  color: #f6931f;
  font-weight: bold;
  width: 50;
}
.loop-active{
  background-color: #3CE0AF;
  border-color: #3CE0AF;
}
.loop-active:hover {
  background-color: #3CE0AF;
  border-color: #3CE0AF;
}
.lb-wrap {
  position: relative;
  display: inline-block;
}
.lb-wrap .btn-circle{
  position: absolute;
  top: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  padding: 2px 2px 2px;
  line-height: 10px;
  border-radius: 15px;
  text-align: center;
  opacity: 0.5;
}
.btn-circle:hover{
  opacity: 1;
}
.btn-xlarge {
  width: 100px;
  height: 100px;
  padding: 10px 10px;
  font-size: 22px;
  line=height: normal;
  border-radius: 8px;
}
.btn-record {
  width: 100px;
  height: 50px;
  padding: 10px 10px;
  font-size: 22px;
  line=height: normal;
  border-radius: 8px;
}
.smaller{
  font-size: 14px;
}
.bob {
  border: 2px red solid;
}
.fixbutt {
  width: 80px;
  height: 50px;
}
.fixcontrol {
  width: 65px;
  height: 46px;
}
.movebottop {
  position: absolute;
  bottom: 100px;
}
.movebotmid {
  position: absolute;
  bottom: 50px;
}
.movebotbot {
  position: absolute;
  bottom: 0px;
}
ion-icon {
  font-size: 28px;
}
{% endblock %}
{% block heading %}
<h5 id='title'></h5>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10">

    <div id="video-placeholder"></div>

    <div id="controls" class="container">
      <input type="range" class="custom-range" id="progress-bar" value="0"><br>

      <div class="row">
        <div class="col-md-5">

          <button type="button" class="btn btn-primary btn-lg fixcontrol" id="play-toggle">
            <ion-icon name="play"></ion-icon>
          </button>


          <button type="button" class="btn btn-primary btn-lg fixcontrol" id="mute-toggle">
            <ion-icon name="volume-high"></ion-icon>
          </button>

          <a><span id="current-time">0:00</span> / <span id="duration">0:00</span></a>
        </div>

        <div class="col-md-4">

          <button type="button" class="btn btn-primary btn-lg fixbutt loopButts" id="loop-toggle">Loop</button>
          <button type="button" class="btn btn-primary fixbutt btn-lg " id="loop-save">Save</button>

        </div>

        <div class="col-md-3">

          <button type='button' class='btn btn-primary btn-lg' id='slowdown'>
            <ion-icon name="rewind"></ion-icon>
          </button>
          <a id='speed'>1.00</a>
          <button type='button' class='btn btn-primary btn-lg' id='speedup'>
            <ion-icon name="fastforward"></ion-icon>
          </button>

        </div>
      </div>

      <br>
      <div id="slider-range"></div><br>

      <div class="row">
        <div class='col-md-4'>
          <label for="amount">Loop Range: </label>

          <input class='ranges' type='text' id="loop-start">
          <span class="ranges"> - </span>
          <input class='ranges' type='text' id="loop-end">
        </div>
        <div class='col-md-4'>
          <a id="limit_warning"></a>
        </div>
        <div class='col-md-4'>
          <div id="recordingsList"></div>
        </div>
      </div>

      <!-- <button type='button' class='btn btn-primary btn-xlarge m-2 loopButts'>
      L5
      <div class='smaller'>0:00 - 0:10</div>
    </button> -->

  </div>
</div>
<div class="col-md-2" id="right-col">
  <div id='loop_saves'></div>
  <button type='button' class='btn btn-primary movebottop ml-2 mr-2 mt-2 btn-record' id='recordButton'>
    <ion-icon name="microphone"></ion-icon>
  </button>
  <button type='button' class='btn btn-primary movebotmid ml-2 mr-2 btn-record' id='pauseButton' disabled>
    <ion-icon name="pause"></ion-icon>
  </button>
  <button type='button' class='btn btn-primary movebotbot ml-2 mr-2 btn-record' id='stopButton' disabled>
    <ion-icon name="square"></ion-icon>
  </button>
</div>

</div>
{% endblock %}

{% block script2 %}
<script type="text/javascript" src="{{ url_for('static', filename = 'practice.js') }}"></script>
{% endblock %}
