{% extends "layout.html" %}
{% block head %}
<title>Practice</title>
{% endblock %}
{% block script %}
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery.nstSlider.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'jquery.nstSlider.js') }}"></script>
{% endblock %}
{% block videos %}
var videos = {{videos|tojson}};
var video = {{video|tojson}};
var vid_loops = {{vid_loops|tojson}};
{% endblock %}
{% block css %}
.ranges{
  color: rgb(80, 191, 230);
  font-weight: bold;
  width: 60;
  font-size: 20;
}
.lb-wrap {
  position: relative;
  display: inline-block;
}
.lb-wrap .btn-delete{
  position: absolute;
  top: 4px;
  right: 4px;
  width: 25px;
  height: 25px;
  padding: 2px 2px 2px;
  line-height: 10px;
  border-radius: 15px;
  text-align: center;
  opacity: 0.5;
}
.btn-delete:hover{
  opacity: 1;
}
.lb-wrap .btn-edit{
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 25px;
  height: 25px;
  padding: 2px 2px 2px;
  line-height: 10px;
  border-radius: 15px;
  text-align: center;
  opacity: 0.5;
}
.btn-edit:hover{
  opacity: 1;
}
.btn-xlarge {
  width: 249px;
  height: 80px;
  padding: 10px 10px;
  font-size: 22px;
  line=height: normal;
  border-radius: 8px;
}
.btn-record {
  width: 100px;
  height: 50px;
  padding: 10px 10px;
  font-size: 22px;
  line=height: normal;
  border-radius: 8px;
}
.smaller{
  font-size: 14px;
}
.bob {
  border: 2px red solid;
}
.fixbutt {
  width: 90px;
  height: 50px;
}
.fixcontrol {
  width: 65px;
  height: 46px;
}
.movebottop {
  position: absolute;
  bottom: 100px;
}
.movebotmid {
  position: absolute;
  bottom: 50px;
}
.movebotbot {
  position: absolute;
  bottom: 0px;
}
ion-icon {
  font-size: 28px;
}
.p_s {
  margin: 0;
}
.subhead {
  opacity: 0.5;
  font-size: 15px;
}
#progress-bar .ui-slider-range {
  /*background: #4285F4;*/
  background: rgb(80, 191, 230);
}
#progress-bar .ui-slider-handle {
  /*border-color: #4285F4;*/
  border-color: rgb(80, 191, 230);
}
.nstSlider{
  width: 100%;
  height: 38px;
  border-radius: 20px;
  background: rgb(80, 191, 230, 0.3);
  border: 2px solid rgb(80, 191, 230);
}
.nstSlider .bar{
  height: 16px;
  top: 25%;
}
.nstSlider .leftGrip,
.nstSlider .rightGrip {
  border-radius: 20px;
  height: 35px;
  width: 35px;
}
.nstSlider .leftGrip.gripHighlighted,
.nstSlider .rightGrip.gripHighlighted {
  background: #446778;
}
.nstSlider .highlightPanel{
  background: #3CE0AF;
  height: 35px;
  border-radius: 15px;
}
#timecount, #speed, #looprangelabel{
  font-size: 25;
  color: white
}
.container {
  max-width: 90%;
}
#tuning {
  color: white;
}
body{
  font-size: large;
}
#speedup{
  position: absolute;
  right: 20;
}
#slowdown{
  position: absolute;
  right: 160;
}
#speed{
  position: absolute;
  right: 110;
  top: 10;
}
input[type="text"], textarea {
  background-color : #333;
}
.textbold {
  font-weight: bold;
}
.btn.btn-primary {
  background: rgb(80, 191, 230, 0.3);
  border: 2px solid rgb(80, 191, 230);
}
.btn.btn-primary:hover {
  background: rgb(80, 191, 230, 0.8);
  border: 2px solid rgb(80, 191, 230);
}

.btn.btn-primary[disabled] {
  background: rgb(80, 191, 230, 0.3);
  border: 2px solid rgb(80, 191, 230);
}
#version-event {
  color: white;
}
#controls{
  width: 100%;
}
#checkProgress{
  width: 200;
}
#labelSections{
  font-size: 25;
  color: white;
}
.btn.btn-primary.loop-active{
  background-color: rgb(60, 224, 175, 0.6);
  border: 2px solid rgb(60, 224, 175);
}
.btn.btn-primary.loop-active:hover {
  background-color: rgb(60, 224, 175, 0.8);
  border: 2px solid rgb(60, 224, 175);
}
{% endblock %}
{% block heading %}
{% endblock %}
{% block content %}
<div class="row">
  <!-- <div class="col-md-11"> -->
  <div id="video-placeholder"></div>
</div>

<div class="row">
  <div id="controls">

    <div class="mb-2" id='progress-bar'></div>

    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-light btn-lg fixcontrol" id="play-toggle" data-toggle='tooltip' data-original-title='Play (space)'>
          <ion-icon name="play"></ion-icon>
        </button>


        <button type="button" class="btn btn-light btn-lg fixcontrol" id="mute-toggle" data-toggle='tooltip' data-original-title='Mute (m)'>
          <ion-icon name="volume-high"></ion-icon>
        </button>

        <a id='timecount'><span id="current-time">0:00</span> / <span id="duration">0:00</span></a>

      </div>

      <div class="col-md-4">
        <a id="limit_warning"></a>
      </div>

      <div class='col-md-1'>
        <span data-toggle='tooltip' data-original-title='Show Shortcuts (k)'>
          <button type='button' class='btn btn-light btn-lg fixcontrol ml-2' data-toggle='modal' data-target='#keybindModal' id='shortcutsButton'>
            <i class="fas fa-keyboard fa-lg"></i>
          </button>
        </span>

        <!-- Modal -->
        <div class="modal fade" id="keybindModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Shortcuts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class='row'>
                  <div class="col-md-4">
                    <div>spacebar</div>
                    <div>m</div>
                    <div>k</div>
                    <div>h, j</div>
                    <div><-, -></div>
                    <div>l</div>
                    <div>s</div>
                    <div>u, i, o, p</div>
                    <div>q, w, e, r, t</div>
                    <div>v</div>
                    <div>c</div>
                  </div>
                  <div class="col-md-8 textbold">
                    <div>Play/Pause</div>
                    <div>Mute/Unmute</div>
                    <div>Show Shortcuts</div>
                    <div>Slow Down/Speed Up</div>
                    <div>Forward/Backward</div>
                    <div>Begin/Stop Loop</div>
                    <div>Save Loop</div>
                    <div>Adjust Loop Range</div>
                    <div>Select Loop</div>
                    <div>Go Back to Start of Loop</div>
                    <div>Go to Progress Page</div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <button type='button' class='btn btn-light btn-lg mr-2' id='slowdown' data-toggle='tooltip' data-original-title='Slow Down (h)'>
          <ion-icon name="rewind"></ion-icon>
        </button>
        <a id='speed'><span>1.00</span></a>
        <button type='button' class='btn btn-light btn-lg' id='speedup' data-toggle='tooltip' data-original-title='Speed Up (j)'>
          <ion-icon name="fastforward"></ion-icon>
        </button>

      </div>
    </div>
    <br>
    <span id='labelSections'>Create Loops:</span>

    <div class="row mt-2">
      <div class='col-md-4'>
        <label for="amount" class='mr-3' id='looprangelabel'>Loop Range: </label>
        <input class='ranges' type='text' id="loop-start">
        <span class="ranges"> - </span>
        <input class='ranges' type='text' id="loop-end">
      </div>
      <div class='col-md-6'>
        <div class='ml-5'>
          <button type="button" class="btn btn-primary btn-lg fixbutt loopButts" id="loop-toggle" data-toggle='tooltip' data-original-title='Begin Loop (l)'>Loop</button>
          <button type="button" class="btn btn-primary btn-lg" id="loop-restart" data-toggle='tooltip' data-original-title='Go Back to Start of Loop (v)' disabled>Restart</button>
          <button type="button" class="btn btn-primary fixbutt btn-lg" id="loop-save" data-toggle='tooltip' data-original-title='Save Loop (s)'>Save</button>
        </div>
      </div>
      <div class='col-md-2'>

        <button type='button' class='btn btn-primary btn-lg loopButts' id='checkProgress' data-toggle='tooltip' data-original-title='Go to Progress (c)'>
          Check Progress
        </button>

        <div id="recordingsList"></div>
      </div>

    </div>

    <div class='row'>

      <div class="nstSlider mt-2 mb-2" data-range_min="0" data-range_max="100" data-cur_min="10" data-cur_max="50">
        <div class="highlightPanel"></div>
        <div class="bar"></div>
        <div class="leftGrip" id='leftGrip'></div>
        <div class="rightGrip" id='rightGrip'></div>
      </div>

    </div>
    <br>
    <span id='labelSections'>Play Loops:</span>

    <div class='row'>
      <div id='loop_saves'></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Rename Your Loop</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" id="renametext" placeholder="Enter name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info" id='renamesubmit'>Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block script2 %}
<script type="text/javascript" src="{{ url_for('static', filename = 'practice.js') }}"></script>
{% endblock %}
