{% extends "layout.html" %}
{% block head %}
<title>Progress</title>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<!-- Additional files for the Highslide popup effect -->
<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />

<script type="text/javascript" src="{{ url_for('static', filename = 'progress.js') }}"></script>
{% endblock %}
{% block videos %}
var videos = {{videos|tojson}};
var mastered = {{mastered|tojson}};
{% endblock %}
{% block css %}
#chart{
  width: 100%;
  height: 80%;
}
#mastered {
  color: white;
}
.container {
  max-width: 90%;
}
{% endblock %}
{% block heading %}
{% endblock %}
{% block content %}
<div class='row'>
  <h2>Progress</h2>
  <div id="chart"></div>
</div>
{% endblock %}
