{% extends "layout.html" %}
{% block head %}
<title>Record Yourself</title>
{% endblock %}
{% block script %}
{% endblock %}
{% block videos %}
{% endblock %}
{% block heading %}
<h1>Record Yourself</h1>
{% endblock %}
{% block content %}

<div id="controls">
  <button id="recordButton">Record</button>
  <button id="pauseButton" disabled>Pause</button>
  <button id="stopButton" disabled>Stop</button>
</div>

<!-- <div id="formats">Format: start recording to see sample rate</div> -->

<h3>Recordings</h3>
<div id="recordingsList"></div>

{% endblock %}
{% block script2 %}
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'record.js') }}"></script>
{% endblock %}
