{% extends "layout.html" %}
{% block head %}
<title>Search Videos</title>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename = 'search.js') }}"></script>
{% endblock %}
{% block videos %}
var videos = {{videos|tojson}};
var input = {{input|tojson}};
{% endblock %}
{% block heading %}
<h1> Search </h1>
{% endblock %}
{% block content %}
<div class="nav nav-justified navbar-nav">
  <form class="navbar-form navbar-search" role="search">
    <div class="input-group">
      <input type="text" class="form-control autovideos" id="lookup">
      <div class="input-group-btn">
        <button type="button" class="btn btn-search btn-primary" id="submit">
          <span class="glyphicon glyphicon-search"></span>
          <span class="label-icon">Search</span>
        </button>
      </div>
    </div>
  </form>
</div>

<div id="videos"></div>

{% endblock %}
